body{
  font-family: Arial, sans-serif;
  background:#eef3ff;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  margin:0;
}

.container{
  background:white;
  width:350px;
  padding:30px;
  border-radius:20px;
  text-align:center;
  box-shadow:0 0 15px rgba(0,0,0,0.1);
}

h1{
  color:#2b4eff;
}

p{
  color:gray;
  font-size:14px;
}

input{
  width:100%;
  padding:12px;
  margin-top:20px;
  border-radius:10px;
  border:1px solid #ccc;
  box-sizing:border-box;
}

button{
  width:100%;
  padding:12px;
  margin-top:15px;
  border:none;
  border-radius:10px;
  background:#2b4eff;
  color:white;
  font-size:16px;
  cursor:pointer;
}

button:hover{
  background:#1d36b8;
}

#hasil{
  margin-top:20px;
  font-weight:bold;
  line-height:1.8;
}
